@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/mixins';
@import '../node_modules/bootstrap/scss/variables';
@import '../node_modules/bootstrap/scss/reboot';
@import '../node_modules/bootstrap/scss/utilities/display';
@import '../node_modules/bootstrap/scss/utilities/flex';
@import '../node_modules/bootstrap/scss/utilities/sizing';
@import '../node_modules/bootstrap/scss/utilities/spacing';
@import '../node_modules/bootstrap/scss/utilities/position';
@import '../node_modules/bootstrap/scss/utilities/text';
@import './variables';
@import './header';
@import './separator';
@import './report';
@import '../node_modules/bootstrap/scss/print';

body {
  font-family: 'Roboto', sans-serif, $font-family-base;
}

@media print {
  @page {
    margin: 0mm !important;
  }
  html {
    font-size: 0.825rem;
    table {
      border-collapse: collapse !important;
      & th,
      & td {
        border: 1px solid rgba($color: #000000, $alpha: .1);
      }
    }
  }
}
